.admin-home-container {
    padding: 20px;
    text-align: center;
}

.admin-home-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .admin-home-links {
        flex-direction: column;
    }
}