.admin-pedidos-container {
    padding: 20px;
}

.admin-pedidos-title {
    text-align: center;
    margin-bottom: 20px;
}

.admin-pedidos-filter-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.admin-pedidos-filter-bar select {
    padding: 10px;
    font-size: 16px;
    background-color: #2C0A31;
    color: #ffffff;
    border-radius: 9px;
}

.admin-pedidos-orders-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

.admin-pedidos-order-card {
    border-radius: 8px;
    padding: 20px;
    background-color: #2C0A31;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.admin-pedidos-order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.admin-pedidos-order-title {
    font-size: 18px;
    font-weight: bold;
}

.admin-pedidos-order-date {
    font-size: 14px;
    color: #888;
}

.admin-pedidos-order-details {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}

.admin-pedidos-order-detail-item {
    margin-bottom: 5px;
}



.admin-pedidos-order-total {
    font-size: 26px;
    font-weight: bold;
}

.admin-pedidos-status-select {
    padding: 5px;
    font-size: 14px;
    align-self: flex-end;
    margin-top: auto;
    background-color: #2C0A31;
    color: #ffffff;
    border-radius: 9px;
}

.admin-pedidos-no-orders {
    text-align: center;
    font-size: 18px;
    color: #888;
}

.admin-pedidos-order-actions {
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
    gap: 10px;
    justify-content: space-between;
}

.admin-pedidos-action-buttons {
    display: flex;
    gap: 10px;
}

.admin-pedidos-cancel-button,
.admin-pedidos-delete-button {
    background: none;
    border: none;
    color: #ffffff;
    padding: 5px 10px;
    cursor: pointer;
    
}

.admin-pedidos-cancel-button:hover,
.admin-pedidos-delete-button:hover {
    transform: scale(1.3);
    background: none;
 }


.admin-pedidos-order-cancelled {
    color: #eb3131;
    font-weight: bold;
    font-size: 20px;
}


/* Responsiveness */
@media (max-width: 768px) {
    .admin-pedidos-orders-grid {
        grid-template-columns: 1fr;
        justify-content: center;   
    }
    .admin-pedidos-order-card {
        padding-left: 10px;
        padding-right: 10px;
    }
    .admin-pedidos-order-header {
        flex-direction: column;
        align-items: flex-start;
    }
    .admin-pedidos-order-date {
        align-self: flex-start;
    }
    .admin-pedidos-order-footer {
        flex-direction: column;
        align-items: flex-start;
    }
    .admin-pedidos-order-actions {
        align-items: center;
        gap: 10px;
        justify-content: space-between;
    }
    .admin-pedidos-action-buttons {
        flex-direction: row;
        align-items: center;
        gap: 10px;
        /* justify-content: center; */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .admin-pedidos-orders-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}