.admin-home-container {
  padding: 10px;
  text-align: center;
  max-width: 700px;
  margin: 0 auto; /* Center the container horizontally */
}

.admin-home-links {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: start;
  margin-top: 20px;    
}

.admin-home-link {
  color: white;
  gap: 0.7rem;
  font-size: 1.5rem;
  background-color: #2C0A31;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  height: 70px;  
  padding: 0.5rem 1rem;
  gap: 1.5rem;
}

.admin-home-link:hover {
  transform: scale(1.05);
  text-decoration: none;
}

.admin-home-link span {
  max-width: 700px;
}

.admin-home-link i {
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  .admin-home-links {
    font-size: 1.3rem;
  }
  .admin-home-link {
    padding: 1px 15px;
    margin-bottom: auto;
    gap: 1rem;
  }

  .admin-home-link span {
    max-width: 230px;
  }

}
