/* Footer Styles */
footer {
    background-color: #371443;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    width: 100%;
    margin-top: 20px; 
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
    footer {
        padding: 10px 0;
    }

    footer a {
        display: block;
        margin: 15px 0;
    }
}

@media (max-width: 480px) {
    footer {
        padding: 15px 0;
    }
}