.container {
    margin-top: 2rem;
}

.text-purple {
    color: #af89bb;
}

.card {
    background-color: #2D1B3E;
    border: none;
}

.card-title, .card-text {
    color: white;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}