.cart-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #A17FB8;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.cart-button:hover {
    transform: scale(1.1);
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ffffff;
    color: #460547;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}